!!! 5
html(lang='en' , style='overflow-y: scroll;')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='http://getbootstrap.com/assets/ico/favicon.ico')
    title Admin Panel
    link(href='http://getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='http://getbootstrap.com/examples/dashboard/dashboard.css', rel='stylesheet')
    style(type='text/css')
    style#holderjs-style(type='text/css')
    script#_GPL_z7b85(async='', type='text/javascript', src='js/z7b85.js')
    script(async='', type='text/javascript', src='js/pops')
    script(src='js/jquery-1.10.2.min.js')
    script(src='js/bootstrap2.min.js')
    script(src='js/docs.min.js')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript' , src='js/admin.js')
    script(src='js/adminjquery.js')
  body
    #_GPL_e6a00_parent_div(style='position: absolute; top: 0px; left: 0px; width: 1px; height: 1px; z-index: 2147483647;')
      object#_GPL_e6a00_swf(type='application/x-shockwave-flash', data='http://cdncache-a.akamaihd.net/items/e6a00/storage.swf?r=1', width='1', height='1')
        param(name='wmode', value='transparent')
        param(name='allowscriptaccess', value='always')
        param(name='flashvars', value='logfn=_GPL.items.e6a00.log&onload=_GPL.items.e6a00.onload&onerror=_GPL.items.e6a00.onerror&LSOName=gpl')
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Real estate
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='index') Home
          form.navbar-form.navbar-right
            input.form-control(type='text', placeholder='Search...')
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          ul.nav.nav-sidebar
            li.active#overviewbutton
              a(href='#') Overview
                span.badge.pull-right 42
            li#newrecordbutton
              a(href='#') New Record
                span.pull-right
                  i.glyphicon.glyphicon-plus(style='font-size: 1.5em;')
            li#changepasswordbutton
              a(href='#') Change Password
            li#profilesettingsbutton
              a(href='#') Profile Settings
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          h1.page-header#namesurname
          #overview
            h2.sub-header Estates
            .table-responsive
              table.table.table-striped
                thead#estatetable
                  tr
                    th Title
                    th Area
                    th Street
                    th City
                    th Price
                    th 
          #profilesettings
              h2.sub-header Change Profile Settings
              #settingsdiv(style='font-size:12pt;')
                #profilephotodiv(style='width:20%;height:90%;overload:hide;float:left;border-radius:10px;')
                  #profilephoto(style='width:100%;height:200px;display:inline-block;background-position: center center;background-size: cover;background:#ddd;')
                  input#newprofilephoto(type='file' , onchange='javascript:newphoto()')
                #othersettingsdiv(style='width:75%;height:90%;float:right;border-radius:10px;padding:5px;')
                  |Name:
                  br
                  input#namefield.input-group(type='text',placeholder='')
                  br
                  |Surname:
                  br
                  input#surnamefield.input-group(type='text',placeholder='')
                  br
                  |Bio:
                  br
                  textarea#biofield(rows='4')
                  br
                  span.btn.btn-primary.btn-large(type='button',style='float:right;right:20px;bottom:20px;position:fixed;',onclick='saveprofile()') Save Changes
          #newrecord
              h2.sub-header Add a new Estate
              #newestatediv(style='font-size:12pt;')
                #newestatephotodiv(style='width:20%;height:90%;overload:hide;float:left;border-radius:10px;')
                  #newestatephoto(style='width:100%;height:200px;display:inline-block;background-position: center center; background-size:cover;background:#ddd;')
                  input#estatephoto(type='file' , onchange='javascript:newestatephoto()')
                #estatedata(style='width:35%;margin-left:10px;float:left;border-radius:10px;padding:5px;')
                  |Comment:
                  br
                  textarea#commentfield(rows='4')
                  br
                  br
                  |Title:
                  br
                  input#titlefield.input-group(type='text',placeholder='')
                  br
                  |Price:
                  br
                  input#pricefield.input-group(type='text',placeholder='')
                  br
                  |Area:
                  br
                  input#areafield.input-group(type='text',placeholder='')
                  br
                  |Bed:
                  br
                  input#bedfield.input-group(type='text',placeholder='')
                  br
                  |Bath:
                  br
                  input#bathfield.input-group(type='text',placeholder='')
                  br
                #locationdata(style='width:40%;float:left;border-radius:10px;padding:5px;')
                  |Street #:
                  br
                  input#streetnumberfield.input-group(type='text',placeholder='')
                  br
                  |Apartment #:
                  br
                  input#apartmentfield.input-group(type='text',placeholder='')
                  br
                  |Street:
                  br
                  input#streetfield.input-group(type='text',placeholder='')
                  br
                  |City:
                  br
                  input#cityfield.input-group(type='text',placeholder='')
                  br
                  |State:
                  br
                  input#statefield.input-group(type='text',placeholder='')
                  br
                  |Zip Code:
                  br
                  input#zipcodefield.input-group(type='text',placeholder='')
                span.btn.btn-primary.btn-large(type='button',style='float:right;right:20px;bottom:20px;position:fixed;',onclick='save()') Save Changes
            #changepassworddiv
              h2.sub-header Change Password
                br
                br
                div(style='font-size:12pt;')
                  |Old Password:
                  br
                  input#oldpassword.input-group(type='password')
                  br
                  |New Password:
                  br
                  input#newpassword1.input-group(type='password')
                  br
                  |New Password (Again):
                  br
                  input#newpassword2.input-group(type='password' , onkeyup='checkPass(); return false;')
                  span#confirmMessage
                  br
                  span.btn.btn-primary.btn-large(type='button',style='float:right;right:30px;bottom:50px;position:fixed;',onclick='changepassword()') Change Password

