!!! strict
// <![endif]
// Hearder
#header-wrapper
  .bg-switcher
    span.open-btn.closed
    ul.backgs
      li.bgs1  
      li.bgs2  
      li.bgs3  
      li.bgs4  
      li.bgs5  
      li.bgs6  
      li.bgs7  
      li.bgs8  
      li.bgs9  
      li.bgs10  
      li.bgs11  
      li.bgs12  
      li.bgs13  
      li.bgs14  
      li.bgs15  
      li.bgs16  
      li.bgs17  
      li.bgs18  
    hr
    form(action='#')
      p
        select#cfont(name='changeFont')
          option(value='droid') Droid Serif
          option(value='magra') Magra
          option(value='CreteRound') Crete Round
          option(value='bitter400') Bitter
          option(value='tenorsans400') Tenor Sans
          option(value='alfaslab') Alfa Slab One
          option(value='signika') Signika Negative
          option(value='able') Abel
          option(value='chivo') Chivo
          option(value='mavin') Maven Pro
  .header
    a(href='index.html')
      img.logo(alt='', src='images/logo1.png')
    ul.social-nav
      li.twitter
        a(href='#')
      li.facebook
        a(href='#')
      li.linkedin
        a(href='#')
      li.bloger
        a(href='#')
    .head-contact
      h3 1-800-555-1234
      p
        a(href='mailto:info@companyname.com') info@companyname.com
  // Navigation
  .nav-wrapper.clearfix
    .nav-container
      ul.main-nav
        li
          a(href='index.html') Home
        li
          a.dd(href='index.html') Sliders
          ul
            li
              a(href='index.html') Simple Slider
            li
              a(href='locality-accordionslider.html') Accordion Slider
            li
              a(href='locality-thumbslider.html') Thumb Slider
        li
          a(href='listing.html') Listing
        li
          a(href='property-single.html') Property
        li
          a(href='blog.html') Blog
        li
          a(href='single.html') Post
        li.active
          a(href='fullwidth.html') Full Width
        li
          a(href='generic-elements.html') Features
        li
          a(href='contact.html') Contact Us
      .seach-wrapper
        form#searchform(action='', method='get')
          p
            input#s.search-field(type='text', name='s', value='Search....')
          p
            input#searchsubmit.submit-search(type='submit', value='', name='submit')
// HEADER WRAPPER...................................................................................... CLOSED
#wrapper clearfix
  .container.clearfix
    #banner-wrapper
      .banner-container
        a(href='#')
          img(alt='banner', src='images/banner-image.jpg')
      .title-container
        h2.page-title Fullwidth
        p.sub-heading SubHeading will appear
    // SLIDER WRAPPER CLOSED
    #content-fullwidth
      .breadcrumb-bar
        p.breadcrumb-wrapper
          a(href='index.html') Home
          | ::
          a.active(href='#') Fullwidth
        ul.bar-icons
          li
            a(href='#')
              img(alt='printer', src='images/icons/print-ico.png')
          li
            a(href='#')
              img(alt='mail', src='images/icons/mail-ico.png')
          li
            a(href='#')
              img(alt='fax', src='images/icons/phone-ico.png')
      img.aligncenter.frame(alt='full wide', src='images/full-wide.jpg')
      p
        | Cras id nibh neque, eu dignissim orci. Aenean at adipiscing urna. Suspendisse potenti. Suspendisse vitae tellus a neque commodo rutrum. Praesent ac neque vitae massa pharetra pellentesque. Pellentesque vestibulum elit at metus venenatis non faucibus massa egestas. Suspendisse nisl leo, cursus non interdum a, consequat sed sapien. Duis at est mi, sit amet placerat lectus....
      p
        | Cras id nibh neque, eu dignissim orci. Aenean at adipiscing urna. Suspendisse potenti. Suspendisse vitae tellus a neque commodo rutrum. Praesent ac neque vitae massa pharetra pellentesque. Pellentesque vestibulum elit at metus venenatis non faucibus massa egestas. Suspendisse nisl leo, cursus non interdum a, consequat sed sapien. Duis at est mi, sit amet placerat lectus....
      hr
      img.alignleft.frame(alt='left image', src='images/full-wide-floating-pic.jpg')
      p
        | Cras id nibh neque, eu dignissim orci. Aenean at adipiscing urna. Suspendisse potenti. Suspendisse vitae tellus a neque commodo rutrum. Praesent ac neque vitae massa pharetra pellentesque.
      p
        | Cras id nibh neque, eu dignissim orci. Aenean at adipiscing urna. Suspendisse potenti. Suspendisse vitae tellus a neque commodo rutrum. Praesent ac neque vitae massa pharetra pellentesque. Pellentesque vestibulum elit at metus venenatis non faucibus massa egestas. Suspendisse nisl leo, cursus non interdum a, consequat sed sapien. Duis at est mi, sit amet placerat lectus....
      p
        | Cras id nibh neque, eu dignissim orci. Aenean at adipiscing urna. Suspendisse potenti. Suspendisse vitae tellus a neque commodo rutrum. Praesent ac neque vitae massa pharetra pellentesque.
      hr
      img.alignright.frame(alt='left image', src='images/full-wide-right-pic.jpg')
      p
        | Cras id nibh neque, eu dignissim orci. Aenean at adipiscing urna. Suspendisse potenti. Suspendisse vitae tellus a neque commodo rutrum. Praesent ac neque vitae massa pharetra pellentesque.
      p
        | Cras id nibh neque, eu dignissim orci. Aenean at adipiscing urna. Suspendisse potenti. Suspendisse vitae tellus a neque commodo rutrum. Praesent ac neque vitae massa pharetra pellentesque. Pellentesque vestibulum elit at metus venenatis non faucibus massa egestas. Suspendisse nisl leo, cursus non interdum a, consequat sed sapien. Duis at est mi, sit amet placerat lectus....
      p
        | Cras id nibh neque, eu dignissim orci. Aenean at adipiscing urna. Suspendisse potenti. Suspendisse vitae tellus a neque commodo rutrum. Praesent ac neque vitae massa pharetra pellentesque.
    // CONTENT HOME CLOSED
  // CONTAINER CLOSED
// WRAPPER....................................................................................................... CLOSED
.footer-wrapper.clearfix
  .footer
    .footer-col.footer-col1
      h3.title About Us
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean erat nisi, cursus vel tincidunt vel, accumsanet enim. Aliquam nec auctor turpis.
      p
        | Ut imperdiet vestibulum diam, dapibus fermentum mi porttitor non. Integer ut urna erat, quis....
    .footer-col
      h3.title Twitter Updates
      #twitter_update_list
    .footer-col
      h3.title Latest News
      ul
        li
          p ohnny Depp on His Dalliance With Scientology and His Box-Office Bankability
        li
          p ohnny Depp on His Dalliance
  .bottombar-wrapper
    .bottom-bar
      ul.footer-nav
        li.active
          a(href='index.html') Home
        li
          a.dd(href='listing.html') All Properties
        li
          a.dd(href='blog.html') News
        li
          a(href='fullwidth.html') Full Width
        li
          a(href='generic-elements.html') Generic Elements
        li
          a(href='contact.html') Contact Us
      a(href='#')
        img.logo-footer(alt='Locatlity', src='images/footer-logo.png')
      .copy-right-wrapper
        p.developed-by
          | Developed by
          a(href='http://www.960development.com/') 960developement
          | and Designed by
          a(href='http://www.themedesigner.in/') Sunil joshi
        p.copy-right
          | Copyright© 2011. All Rights Reserved by Locality Real Estate
  // BOTOMBAR CLOSED
// FOOTER WRAPPER............................................................................................... CLOSED
// Remove it if you do not need jQuery
script(src='js/jquery-1.7.1.min.js', type='text/javascript')

