!!! strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    // Always force latest IE rendering engine (even in intranet) & Chrome Frame. Remove this if you use the .htaccess
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Locality
    link(rel='stylesheet', type='text/css', media='all', href='./stylesheets/style_index.css')
    link#customFont(rel='stylesheet', type='text/css', media='all', href='')
    // Generate Favicon Using 1.http://tools.dynamicdrive.com/favicon/ OR 2.http://www.favicon.cc/
    link(rel='shortcut icon', href='favicon.ico')
  //if lt IE 7 
    body.ie6  
  //if IE 7 
    body.ie7  
  //if IE 8 
    body.ie8  
  //if IE 9 
    body.ie9  
  // [if (gt IE 9)|!(IE)] <!
  body
    // <![endif]
    // Hearder
    #header-wrapper
      .header
        a(href='http://localhost:3000/')
          img.logo(src='./images/logo1.png', alt='')
        .head-contact
          h3 1-800-555-1234
          p
            a(href='mailto:info@companyname.com') info&commat;companyname&period;com
      // Navigation
      .nav-wrapper.clearfix
        .nav-container
          ul.main-nav
            li.active
              a(href='http://localhost:3000/') Home
            li
              a(href='listing.html') About &num;&lcub;sitename&rcub;
            li
              a(href='property-single.html') For Sale
            li
              a(href='blog.html') For Rent
            li
              a(href='single.html') Sold
            li
              a(href='fullwidth.html') Rented
            li
              a(href='http://localhost:3000/contact') Contact Us
          .seach-wrapper
            form#searchform(method='get', action='')
              p
                input#s.search-field(type='text', value='Search....', name='s')
              p
                input#searchsubmit.submit-search(type='submit', name='submit', value='')
    // HEADER WRAPPER...................................................................................... CLOSED
    #wrapper clearfix
      .container.clearfix
        #slider-wrapper
          .slider-container
            .slider
              ul.slides
                li.slide
                  a(href='#')
                    img(src='./images/slider1.jpg', height='360', width='666', alt='home')
                  .slide-info
                    h3 Fresh view House
                    p
                      | Aliquam erat volutpat&period; Duis blan augue ac orci laosds reet eget con dimentum magna venenatis&period; Maecenas eget au&period;&period;&period;
                    h4.price &dollar;40000
                    a.readmore-btn(href='#') Read more
                li.slide
                  a(href='#')
                    img(src='./images/slider2.jpg', height='360', width='666', alt='home')
                  .slide-info
                    h3 Storng Building House
                    p
                      | Aliquam erat volutpat&period; Duis blan augue ac orci laosds reet eget con dimentum magna venenatis&period; Maecenas eget au&period;&period;&period;
                    h4.price &dollar;40000
                    a.readmore-btn(href='#') Read more
                li.slide
                  a(href='#')
                    img(src='./images/slider3.jpg', height='360', width='666', alt='home')
                  .slide-info
                    h3 Old is Gold House
                    p
                      | Aliquam erat volutpat&period; Duis blan augue ac orci laosds reet eget con dimentum magna venenatis&period; Maecenas eget au&period;&period;&period;
                    h4.price &dollar;40000
                    a.readmore-btn(href='#') Read more
                li.slide
                  a(href='#')
                    img(src='./images/slider4.jpg', height='360', width='666', alt='home')
                  .slide-info
                    h3 Yellow Light House
                    p
                      | Aliquam erat volutpat&period; Duis blan augue ac orci laosds reet eget con dimentum magna venenatis&period; Maecenas eget au&period;&period;&period;
                    h4.price &dollar;40000
                    a.readmore-btn(href='#') Read more
                li.slide
                  a(href='#')
                    img(src='./images/slider5.jpg', height='360', width='666', alt='home')
                  .slide-info
                    h3 Unique Protection House
                    p
                      | Aliquam erat volutpat&period; Duis blan augue ac orci laosds reet eget con dimentum magna venenatis&period; Maecenas eget au&period;&period;&period;
                    h4.price &dollar;40000
                    a.readmore-btn(href='#') Read more
                li.slide
                  a(href='#')
                    img(src='./images/slider6.jpg', height='360', width='666', alt='home')
                  .slide-info
                    h3 Natural Dreams House
                    p
                      | Aliquam erat volutpat&period; Duis blan augue ac orci laosds reet eget con dimentum magna venenatis&period; Maecenas eget au&period;&period;&period;
                    h4.price &dollar;40000
                    a.readmore-btn(href='#') Read more
              a.prev(href='#')
              a.next(href='#')
          // SEARCH OPTIONS
          .advancesearch-wrapper-home
            .search-options
              .advancesearch-head-home
                h3 Find you Home
              form.advance-search-form-home(action='', method='get')
                .option-bar
                  label.option-title Property
                  select#select-type.search-select(name='select-type')
                    option(value='Choice 1') --Select Type--
                    option(value='Choice 2') type 1
                    option(value='Choice 3') type 2
                    option(value='Choice 4') type 3
                // end of #select1
                .option-bar
                  label.option-title Price
                  select#select-prices.search-select(name='select-prices')
                    option(value='Choice 1') --Select Price--
                    option(value='Choice 2') Price 1
                    option(value='Choice 3') Price 2
                    option(value='Choice 4') Price 3
                // end of #select1
                .option-bar
                  label.option-title Region
                  select#select-region.search-select(name='select-region')
                    option(value='Choice 1') --Select Region--
                    option(value='Choice 2') Region 1
                    option(value='Choice 3') Region 2
                    option(value='Choice 4') Region 3
                // end of #select2
                .option-bar
                  label.option-title Rooms
                  select#select-location.search-select(name='select-location')
                    option(value='Choice 1') --No of Rooms--
                    option(value='Choice 2') location 1
                    option(value='Choice 3') Location 2
                    option(value='Choice 4') Location 3
                // end of #select3
                #search-box
                  label.option-title Keyword
                  input#as(type='text', name='s', value='')
                .search-btn-wrapper
                  input.advance-search-btn(type='submit', value='Search')
          // ADVANCE SEARCH WRAPPER CLOSED
        // SLIDER WRAPPER...................................................................................... CLOSED
        // Home Contents
        #content
          h2.title.list-title Newest Properties
          .new-property-wrapper
            ul.property-list
              li
                h4
                  a(href='#') Sundown Estate
                p.sub-title Heading text will be appears
                .property-detail-block
                  .property-pic-wrapper
                    a(href='#')
                      img(src='./images/news-pic2.jpg', alt='new-property')
                    .price-tag
                      small dream house
                      h5.price &dollar;40000000
                    .grean-tag
                      p ON SHOW
                  .freatures-wrapper
                    span.size 2134 m2
                    span.bed 5 beds
                    span.bath 3 Baths
                  p
                p
                  | Aliquam erat volutpat&period; Duis blan augue ac orci laosds reet eget con dimentum magna venenatis&period; Maecenas eget au&period;&period;&period;
              li
                h4
                  a(href='#') Sundown Estate
                p.sub-title Heading text will be appears
                .property-detail-block
                  .property-pic-wrapper
                    a(href='#')
                      img(src='./images/news-pic1.jpg', alt='new-property')
                    .price-tag
                      small dream house
                      h5.price &dollar;400000
                  .freatures-wrapper
                    span.size 2134 m2
                    span.bed 5 beds
                    span.bath 3 Baths
                  p
                p
                  | Aliquam erat volutpat&period; Duis blan augue ac orci laosds reet eget con dimentum magna venenatis&period; Maecenas eget au&period;&period;&period;
            hr
            ul.property-list
              li
                h4
                  a(href='#') Sundown Estate
                p.sub-title Heading text will be appears
                .property-detail-block
                  .property-pic-wrapper
                    a(href='#')
                      img(src='./images/news-pic3.jpg', alt='new-property')
                    .price-tag
                      small dream house
                      h5.price &dollar;400000
                  .freatures-wrapper
                    span.size 2134 m2
                    span.bed 5 beds
                    span.bath 3 Baths
                  p
                p
                  | Aliquam erat volutpat&period; Duis blan augue ac orci laosds reet eget con dimentum magna venenatis&period; Maecenas eget au&period;&period;&period;
              li
                h4
                  a(href='#') Sundown Estate
                p.sub-title Heading text will be appears
                .property-detail-block
                  .property-pic-wrapper
                    a(href='#')
                      img(src='./images/news-pic.jpg', alt='new-property')
                    .price-tag
                      small dream house
                      h5.price &dollar;400000
                  .freatures-wrapper
                    span.size 2134 m2
                    span.bed 5 beds
                    span.bath 3 Baths
                  p
                p
                  | Aliquam erat volutpat&period; Duis blan augue ac orci laosds reet eget con dimentum magna venenatis&period; Maecenas eget au&period;&period;&period;
        // CONTENT HOME CLOSED
        .sidebar-home
          .side-widget
            .agent-container.clearfix
              .agent-pic-wrapper
                img(src='./images/avatar-image.png', alt='agent')
              h4 John Doe
              p Maecenas ipsum metus&comma; semsion hendrerit varius mattis&comma;
          .side-widget
            .featured-property
              h3.title Featured Property
              .property-view
                a(href='#')
                  img(src='./images/dream-home-view.jpg', alt='featured property')
                .featured-price-tag
                  small dream house
                  h5.price &dollar;400000
              h4
                a(href='#') Sundown Estate
              p.sub-title Heading text will be appears
              p
                | Aliquam erat volutpat&period; Duis blan augue ac orci lao reet eget con dimentum magna venenatis&period; Maecenas eget au&period;&period;&period;
          .side-widget
            h3.title Newsletter Signup
            p Maecenas ipsum metus&comma; sempehendrerit varius mattis&comma;congue sit amet tellus&period; 
            form.subs-form(action='', method='post')
              p
                input#subs-bar.input-subs(type='text', value='E-mail address')
                input.subs-btn(type='submit', value='Sign Up')
        // SIDEBAR HOME CLOSED
      // CONTAINER CLOSED
    // WRAPPER....................................................................................................... CLOSED
    .footer-wrapper.clearfix
      .footer
        .footer-col.footer-col1
          h3.title About Us
          p
            | Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Aenean erat nisi&comma; cursus vel tincidunt vel&comma; accumsanet enim&period; Aliquam nec auctor turpis&period;
          p
            | Ut imperdiet vestibulum diam&comma; dapibus fermentum mi porttitor non&period; Integer ut urna erat&comma; quis&period;&period;&period;&period;
        .footer-col
          h3.title Twitter Updates
          #twitter_update_list
        .footer-col
          h3.title Latest News
          ul
            li
              p ohnny Depp on His Dalliance With Scientology and His Box-Office Bankability
            li
              p ohnny Depp on His Dalliance
      .bottombar-wrapper
        .bottom-bar
          ul.footer-nav
            li.active
              a(href='localhost:3000/') Home
            li
              a(href='http://localhost:3000/contact') Contact Us
            li
              a(href='http://localhost:3000/signin') Sign In
          a(href='#')
            img.logo-footer(src='./images/footer-logo.png', alt='Locatlity')
      // BOTOMBAR CLOSED
    // FOOTER WRAPPER............................................................................................... CLOSED
    // Remove it if you do not need jQuery
    script(type='text/javascript', src='./javascripts/jquery-1.7.1.min.js')
    // Remove it if you do not need jquery.easing : http://gsgd.co.uk/sandbox/jquery/easing/
    script(type='text/javascript', src='./javascripts/jquery.easing.1.3.js')
    // jQuery selectbox for advance search
    script(type='text/javascript', src='./javascripts/jquery.selectbox-0.5.js')
    // jQuery cycle plugin for sliding
    script(type='text/javascript', src='./javascripts/jquery.cycle.all.js')
    // jQuery plugin for equal heights
    script(type='text/javascript', src='./javascripts/equalheights.js')
    // Accordion Sllider
    script(type='text/javascript', src='./javascripts/slider_accordion.js')
    script(type='text/javascript', src='./javascripts/accordionImageMenu-0.4.js')
    // jQuery plugin for equal heights
    script(type='text/javascript', src='./javascripts/slider_thumbnail.js')
    // contact form scripts
    script(type='text/javascript', src='./javascripts/jquery.form.js')
    script(type='text/javascript', src='./javascripts/jquery.validate.js')
    script(type='text/javascript', src='./javascripts/jquery-twitterFetcher.js')
    // script file to add your own JavaScript
    script(type='text/javascript', src='./javascripts/script.js')
