!!! strict
// <![endif]
// Hearder
#header-wrapper
  .bg-switcher
    span.open-btn.closed
    ul.backgs
      li.bgs1  
      li.bgs2  
      li.bgs3  
      li.bgs4  
      li.bgs5  
      li.bgs6  
      li.bgs7  
      li.bgs8  
      li.bgs9  
      li.bgs10  
      li.bgs11  
      li.bgs12  
      li.bgs13  
      li.bgs14  
      li.bgs15  
      li.bgs16  
      li.bgs17  
      li.bgs18  
    hr
    form(action='#')
      p
        select#cfont(name='changeFont')
          option(value='droid') Droid Serif
          option(value='magra') Magra
          option(value='CreteRound') Crete Round
          option(value='bitter400') Bitter
          option(value='tenorsans400') Tenor Sans
          option(value='alfaslab') Alfa Slab One
          option(value='signika') Signika Negative
          option(value='able') Abel
          option(value='chivo') Chivo
          option(value='mavin') Maven Pro
  .header
    a(href='index.html')
      img.logo(alt='', src='images/logo1.png')
    ul.social-nav
      li.twitter
        a(href='#')
      li.facebook
        a(href='#')
      li.linkedin
        a(href='#')
      li.bloger
        a(href='#')
    .head-contact
      h3 1-800-555-1234
      p
        a(href='mailto:info@companyname.com') info@companyname.com
  // Navigation
  .nav-wrapper.clearfix
    .nav-container
      ul.main-nav
        li.active
          a(href='index.html') Home
        li
          a.dd(href='index.html') Sliders
          ul
            li
              a(href='index.html') Simple Slider
            li
              a(href='locality-accordionslider.html') Accordion Slider
            li
              a(href='locality-thumbslider.html') Thumb Slider
        li
          a(href='listing.html') Listing
        li
          a(href='property-single.html') Property
        li
          a(href='blog.html') Blog
        li
          a(href='single.html') Post
        li
          a(href='fullwidth.html') Full Width
        li
          a(href='generic-elements.html') Features
        li
          a(href='contact.html') Contact Us
      .seach-wrapper
        form#searchform(action='', method='get')
          p
            input#s.search-field(type='text', name='s', value='Search....')
          p
            input#searchsubmit.submit-search(type='submit', value='', name='submit')
// HEADER WRAPPER...................................................................................... CLOSED
#wrapper clearfix
  .container.clearfix
    #slider-wrapper
      .slider-container
        .thumbslider.clearfix
          #thumb-nav
          #thumb-slideshow
            img(width='560', height='360', alt='slider pic', src='images/sliderthumb1.jpg')
            img(width='560', height='360', alt='slider pic', src='images/sliderthumb2.jpg')
            img(width='560', height='360', alt='slider pic', src='images/sliderthumb3.jpg')
            img(width='560', height='360', alt='slider pic', src='images/sliderthumb4.jpg')
            img(width='560', height='360', alt='slider pic', src='images/sliderthumb6.jpg')
      // SLIDER CLOSED
      // SEARCH OPTIONS
      .advancesearch-wrapper-home
        .search-options
          .advancesearch-head-home
            h3 Find you Home
          form.advance-search-form-home(method='get', action='')
            .option-bar
              label.option-title Property
              select#select-type.search-select(name='select-type')
                option(value='Choice 1') --Select Type--
                option(value='Choice 2') type 1
                option(value='Choice 3') type 2
                option(value='Choice 4') type 3
            // end of #select1
            .option-bar
              label.option-title Price
              select#select-prices.search-select(name='select-prices')
                option(value='Choice 1') --Select Price--
                option(value='Choice 2') Price 1
                option(value='Choice 3') Price 2
                option(value='Choice 4') Price 3
            // end of #select1
            .option-bar
              label.option-title Region
              select#select-region.search-select(name='select-region')
                option(value='Choice 1') --Select Region--
                option(value='Choice 2') Region 1
                option(value='Choice 3') Region 2
                option(value='Choice 4') Region 3
            // end of #select2
            .option-bar
              label.option-title Rooms
              select#select-location.search-select(name='select-location')
                option(value='Choice 1') --No of Rooms--
                option(value='Choice 2') location 1
                option(value='Choice 3') Location 2
                option(value='Choice 4') Location 3
            // end of #select3
            #search-box
              label.option-title Keyword
              input#as(type='text', value='', name='s')
            .search-btn-wrapper
              input.advance-search-btn(type='submit', value='Search')
      // ADVANCE SEARCH WRAPPER CLOSED
    // SLIDER WRAPPER...................................................................................... CLOSED
    // Home Contents
    #content
      h2.title.list-title Newest Properties
      .new-property-wrapper
        ul.property-list
          li
            h4
              a(href='#') Sundown Estate
            p.sub-title Heading text will be appears
            .property-detail-block
              .property-pic-wrapper
                a(href='#')
                  img(alt='new-property', src='images/news-pic.jpg')
                .price-tag
                  small dream house
                  h5.price $400000000000000
                .grean-tag
                  p ON SHOW
              .freatures-wrapper
                span.size 2134 m2
                span.bed 5 beds
                span.bath 3 Baths
              p
            p
              | Aliquam erat volutpat. Duis blan augue ac orci laosds reet eget con dimentum magna venenatis. Maecenas eget au...
          li
            h4
              a(href='#') Sundown Estate
            p.sub-title Heading text will be appears
            .property-detail-block
              .property-pic-wrapper
                a(href='#')
                  img(alt='new-property', src='images/news-pic1.jpg')
                .price-tag
                  small dream house
                  h5.price $400000
                .grean-tag
                  p ON SHOW
              .freatures-wrapper
                span.size 2134 m2
                span.bed 5 beds
                span.bath 3 Baths
              p
            p
              | Aliquam erat volutpat. Duis blan augue ac orci laosds reet eget con dimentum magna venenatis. Maecenas eget au...
        hr
        ul.property-list
          li
            h4
              a(href='#') Sundown Estate
            p.sub-title Heading text will be appears
            .property-detail-block
              .property-pic-wrapper
                a(href='#')
                  img(alt='new-property', src='images/news-pic2.jpg')
                .price-tag
                  small dream house
                  h5.price $400000
                .grean-tag
                  p ON SHOW
              .freatures-wrapper
                span.size 2134 m2
                span.bed 5 beds
                span.bath 3 Baths
              p
            p
              | Aliquam erat volutpat. Duis blan augue ac orci laosds reet eget con dimentum magna venenatis. Maecenas eget au...
          li
            h4
              a(href='#') Sundown Estate
            p.sub-title Heading text will be appears
            .property-detail-block
              .property-pic-wrapper
                a(href='#')
                  img(alt='new-property', src='images/news-pic3.jpg')
                .price-tag
                  small dream house
                  h5.price $400000
                .grean-tag
                  p ON SHOW
              .freatures-wrapper
                span.size 2134 m2
                span.bed 5 beds
                span.bath 3 Baths
              p
            p
              | Aliquam erat volutpat. Duis blan augue ac orci laosds reet eget con dimentum magna venenatis. Maecenas eget au...
    // CONTENT HOME CLOSED
    .sidebar-home
      .side-widget
        .agent-container.clearfix
          .agent-pic-wrapper
            img(alt='agent', src='images/avatar-image.png')
          h4 JOHN DOE
          p Maecenas ipsum metus, semsion hendrerit varius mattis,
      .side-widget
        .featured-property
          h3.title Featured Property
          .property-view
            a(href='#')
              img(alt='featured property', src='images/dream-home-view.jpg')
            .featured-price-tag
              small dream house
              h5.price $400000
          h4
            a(href='#') Sundown Estate
          p.sub-title Heading text will be appears
          p
            | Aliquam erat volutpat. Duis blan augue ac orci lao reet eget con dimentum magna venenatis. Maecenas eget au...
      .side-widget
        h3.title Newsletter Signup
        p Maecenas ipsum metus, sempehendrerit varius mattis,congue sit amet tellus. 
        form.subs-form(method='post', action='')
          p
            input#subs-bar.input-subs(type='text', value='E-mail address')
            input.subs-btn(type='submit', value='Sign Up')
    // SIDEBAR HOME CLOSED
  // CONTAINER CLOSED
// WRAPPER....................................................................................................... CLOSED
.footer-wrapper.clearfix
  .footer
    .footer-col.footer-col1
      h3.title About Us
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean erat nisi, cursus vel tincidunt vel, accumsanet enim. Aliquam nec auctor turpis.
      p
        | Ut imperdiet vestibulum diam, dapibus fermentum mi porttitor non. Integer ut urna erat, quis....
    .footer-col
      h3.title Twitter Updates
      #twitter_update_list
    .footer-col
      h3.title Latest News
      ul
        li
          p ohnny Depp on His Dalliance With Scientology and His Box-Office Bankability
        li
          p ohnny Depp on His Dalliance
  .bottombar-wrapper
    .bottom-bar
      ul.footer-nav
        li.active
          a(href='index.html') Home
        li
          a.dd(href='listing.html') All Properties
        li
          a.dd(href='blog.html') News
        li
          a(href='fullwidth.html') Full Width
        li
          a(href='generic-elements.html') Generic Elements
        li
          a(href='contact.html') Contact Us
      a(href='#')
        img.logo-footer(alt='Locatlity', src='images/footer-logo.png')
      .copy-right-wrapper
        p.developed-by
          | Developed by
          a(href='http://www.960development.com/') 960developement
          | and Designed by
          a(href='http://www.themedesigner.in/') Sunil joshi
        p.copy-right
          | Copyright© 2011. All Rights Reserved by Locality Real Estate
  // BOTOMBAR CLOSED
// FOOTER WRAPPER............................................................................................... CLOSED
// Remove it if you do not need jQuery
script(src='js/jquery-1.7.1.min.js', type='text/javascript')

