!!! strict
html(xmlns='http://www.w3.org/1999/xhtml')
head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Single Property
    link(rel='stylesheet', type='text/css', media='all', href='style.css')
    link#customFont(rel='stylesheets/stylesheet', type='text/css', media='all', href='')
    link(rel='shortcut icon', href='favicon.ico')
    script(src='js/jquery-1.10.2.min.js')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript' , src='js/ps.js')
    script(src='js/psjquery.js')
  body
    #header-wrapper
      .header
        a(href='index')
          img.logo(src='images/logo1.png', alt='')
        ul.social-nav
          li.twitter
            a(href='#')
          li.facebook
            a(href='#')
          li.linkedin
            a(href='#')
          li.bloger
            a(href='#')
        .head-contact
          h3 1-800-555-1234
          p
            a(href='mailto:info@companyname.com') info@companyname.com
      .nav-wrapper.clearfix
        .nav-container
          ul.main-nav
            li
              a(href='index') Home
            li.active
              a(href='contact') Contact Us
          .seach-wrapper
            form#searchform(method='get', action='')
              p
                input#s.search-field(type='text', value='Search....', name='s')
              p
                input#searchsubmit.submit-search(type='submit', name='submit', value='')
    #wrapper 
      .container.clearfix
        #banner-wrapper
          .banner-container
            a(href='#')
              img(src='images/banner-image.jpg', alt='banner')
          .title-container
            h2.page-title Property Detail
        #content
          .address-block.clearfix
            .contact-view
              img#estatephoto(src='images/contac-pic.jpg',width='400px' , height='300px' ,style='display:inline-block;float:left;')
              div(style='margin-left:5px;display:inline-block;float:right;position:absolute;')
                h3.property-single-title(style='color:#125dae; font-size:20px; text-shadow:1px 1px 0px #fff; border:none; margin-bottom:0px;') 700 Front Street, Key West, FL
                ul.property-features-block(style='position:relative;')
                  li.home-size 5000 Sq ft.
                  li.home-beds 4 Beds
                  li.home-garage 2 Garage
                  li.home-baths 3 Baths
                  li.furnished Furnished
                  li.mortgage NoMortgage
                div.single-pricetag(style='position:relative;width:200px; background:url(images/blue-price-tag.png) left top no-repeat; text-align:right; height:32px; padding:3px 10px 5px 0px; margin-right:1px; overflow:hidden;')
                  small
                    a.property-type(href='http://google.com', style='color:#fff;') Single Family Home
                  h5.price $750,000
        .sidebar
          .side-widget
            .agent-container.clearfix
              .agent-pic-wrapper
                a(href='#')
                  img#adminphoto(src='images/avatar-image.png', alt='agent' , style='width:100%;height:auto;')
              h4
                a#adminname(href='#') JOHN DOE
              p#adminbio Maecenas ipsum metus, semsion hendrerit varius mattis,
    .footer-wrapper.clearfix
      .footer
        .footer-col.footer-col1
          h3.title About Us
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean erat nisi, cursus vel tincidunt vel, accumsanet enim. Aliquam nec auctor turpis.
          p
            | Ut imperdiet vestibulum diam, dapibus fermentum mi porttitor non. Integer ut urna erat, quis....
        .footer-col
          h3.title Twitter Updates
          #twitter_update_list
        .footer-col
          h3.title Latest News
          ul
            li
              p ohnny Depp on His Dalliance With Scientology and His Box-Office Bankability
            li
              p ohnny Depp on His Dalliance
      .bottombar-wrapper
        .bottom-bar
          ul.footer-nav
            li.active
              a(href='index') Home
            li
              a(href='signin') Sign In
            li
              a(href='contact') Contact Us
          a(href='#')
            img.logo-footer(src='images/footer-logo.png', alt='Locality')
    script(type='text/javascript', src='js/jquery-1.7.1.min.js')
    //
       Remove it if you do not need jquery.easing : http://gsgd.co.uk/sandbox/jquery/easing/ 
    script(type='text/javascript', src='js/jquery.easing.1.3.js')
    //
       jQuery selectbox for advance search 
    script(type='text/javascript', src='js/jquery.selectbox-0.5.js')
    //
       jQuery cycle plugin for sliding 
    script(type='text/javascript', src='js/jquery.cycle.all.js')
    //
       jQuery plugin for equal heights 
    script(type='text/javascript', src='js/equalheights.js')
    //
       Accordion Sllider 
    script(type='text/javascript', src='js/slider_accordion.js')
    script(type='text/javascript', src='js/accordionImageMenu-0.4.js')
    //
       jQuery plugin for equal heights 
    script(type='text/javascript', src='js/slider_thumbnail.js')
    //
       contact form scripts 
    script(type='text/javascript', src='js/jquery.form.js')
    script(type='text/javascript', src='js/jquery.validate.js')
    script(type='text/javascript', src='js/jquery-twitterFetcher.js')
    //
       script file to add your own JavaScript 
    script(type='text/javascript', src='js/script.js')

