!!! strict
// <![endif]
// Hearder
#header-wrapper
  .bg-switcher
    span.open-btn.closed
    ul.backgs
      li.bgs1  
      li.bgs2  
      li.bgs3  
      li.bgs4  
      li.bgs5  
      li.bgs6  
      li.bgs7  
      li.bgs8  
      li.bgs9  
      li.bgs10  
      li.bgs11  
      li.bgs12  
      li.bgs13  
      li.bgs14  
      li.bgs15  
      li.bgs16  
      li.bgs17  
      li.bgs18  
    hr
    form(action='#')
      p
        select#cfont(name='changeFont')
          option(value='droid') Droid Serif
          option(value='magra') Magra
          option(value='CreteRound') Crete Round
          option(value='bitter400') Bitter
          option(value='tenorsans400') Tenor Sans
          option(value='alfaslab') Alfa Slab One
          option(value='signika') Signika Negative
          option(value='able') Abel
          option(value='chivo') Chivo
          option(value='mavin') Maven Pro
  .header
    a(href='index.html')
      img.logo(alt='', src='images/logo1.png')
    ul.social-nav
      li.twitter
        a(href='#')
      li.facebook
        a(href='#')
      li.linkedin
        a(href='#')
      li.bloger
        a(href='#')
    .head-contact
      h3 1-800-555-1234
      p
        a(href='mailto:info@companyname.com') info@companyname.com
  // Navigation
  .nav-wrapper.clearfix
    .nav-container
      ul.main-nav
        li
          a(href='index.html') Home
        li
          a.dd(href='index.html') Sliders
          ul
            li
              a(href='index.html') Simple Slider
            li
              a(href='locality-accordionslider.html') Accordion Slider
            li
              a(href='locality-thumbslider.html') Thumb Slider
        li
          a(href='listing.html') Listing
        li
          a(href='property-single.html') Property
        li
          a(href='blog.html') Blog
        li.active
          a(href='single.html') Post
        li
          a(href='fullwidth.html') Full Width
        li
          a(href='generic-elements.html') Features
        li
          a(href='contact.html') Contact Us
      .seach-wrapper
        form#searchform(action='', method='get')
          p
            input#s.search-field(type='text', name='s', value='Search....')
          p
            input#searchsubmit.submit-search(type='submit', value='', name='submit')
// HEADER WRAPPER...................................................................................... CLOSED
#wrapper clearfix
  .container.clearfix
    #banner-wrapper
      .banner-container
        a(href='#')
          img(alt='banner', src='images/banner-image.jpg')
      .title-container
        h2.page-title News Detail
        p.sub-heading SubHeading will appear
    // SLIDER WRAPPER CLOSED
    #content
      .breadcrumb-bar
        p.breadcrumb-wrapper
          a(href='index.html') Home
          | ::
          a.active(href='#') News Detail
        ul.bar-icons
          li
            a(href='#')
              img(alt='printer', src='images/icons/print-ico.png')
          li
            a(href='#')
              img(alt='mail', src='images/icons/mail-ico.png')
          li
            a(href='#')
              img(alt='fax', src='images/icons/phone-ico.png')
      .post-wrapper
        .blog-head
          .post-thumb-wrapper
            a(href='#')
              img.post-thumb(alt='post image', src='images/post-pic.jpg')
          h2.post-title
            a(href='#') Classic Brick Building sleak hi details heading here in...
          .post-meta
            a.date(href='#') 16th Nov 2011
            a.author(href='#') Admin
            a.comments-count(href='#') Comments (21) 
            a.categ(href='#') Business, Real Esate 
            a.tags(href='#') Tag1
        .post-data
          p
            | Cras id nibh neque, eu dignissim orci. Aenean at adipiscing urna. Suspendisse potenti. Suspendisse vitae tellus a nequ commodo rutrum. Praesent ac neque vitae massa pharetra pellentesque. Pellentesque vestibulum elit at metus venenatis non faucibus massa egestas. Suspendisse nisl leo, cursus non interdum a, consequat sed sapien. Duis at est mi, sit amet placerat lectus....
            | Cras id nibh neque, eu dignissim orci. Aenean at adipiscing urna. Suspendisse potenti. Suspendisse vitae tellus a nequ commodo rutrum. Praesent ac neque vitae massa pharetra pellentesque. Pellentesque vestibulum elit at metus venenatis non faucibus massa egestas. Suspendisse nisl leo, cursus non interdum a, consequat sed sapien. Duis at est mi, sit amet placerat lectus....
          p
            | Cras id nibh neque, eu dignissim orci. Aenean at adipiscing urna. Suspendisse potenti. Suspendisse vitae tellus a nequ commodo rutrum. Praesent ac neque vitae massa pharetra pellentesque. Pellentesque vestibulum elit at metus venenatis non faucibus massa egestas. Suspendisse nisl leo, cursus non interdum a, consequat sed sapien. Duis at est mi, sit amet placerat lectus....
          p
            | Cras id nibh neque, eu dignissim orci. Aenean at adipiscing urna. Suspendisse potenti. Suspendisse vitae tellus a nequ commodo rutrum. Praesent ac neque vitae massa pharetra pellentesque. Pellentesque vestibulum elit at metus venenatis non faucibus massa egestas. Suspendisse nisl leo, cursus non interdum a, consequat sed sapien. Duis at est mi, sit amet placerat lectus....
          p
            | Cras id nibh neque, eu dignissim orci. Aenean at adipiscing urna. Suspendisse potenti. Suspendisse vitae tellus a nequ commodo rutrum. Praesent ac neque vitae massa pharetra pellentesque. Pellentesque vestibulum elit at metus venenatis non faucibus massa egestas. Suspendisse nisl leo, cursus non interdum a, consequat sed sapien. Duis at est mi, sit amet placerat lectus....
          p
            | Cras id nibh neque, eu dignissim orci. Aenean at adipiscing urna. Suspendisse potenti. Suspendisse vitae tellus a nequ commodo rutrum. Praesent ac neque vitae massa pharetra pellentesque. Pellentesque vestibulum elit at metus venenatis non faucibus massa egestas. Suspendisse nisl leo, cursus non interdum a, consequat sed sapien. Duis at est mi, sit amet placerat lectus....
          .share-wrapper
      // POST WRAPPER CLOSED
      hr
      #comments-wrapper
        h2.title Comments(2)
        ul.comments
          li.comment-conatiner
            .avatar-wrapper
              a(href='#')
                img(alt='avatar', src='images/comment-avatar.png')
            .comment
              h5.comment-meta
                | posted by
                a(href='#') john doe
                | on
                span 23rd June 2011
              p
                | Cras id nibh neque, eu dignissim orci. Aenean at adipiscing urna. Suspendisse potenti. Suspendisse vitae tellus a neque commodo rutrum.
            a.reply-btn(href='#') Reply
          li.comment-conatiner
            .avatar-wrapper
              a(href='#')
                img(alt='avatar', src='images/comment-avatar.png')
            .comment
              h5.comment-meta
                | posted by
                a(href='#') john doe
                | on
                span 23rd June 2011
              p
                | Cras id nibh neque, eu dignissim orci. Aenean at adipiscing urna. Suspendisse potenti. Suspendisse vitae tellus a nequ commodo rutrum. Praesent ac neque vitae massa pharetra pellentesque. Pellentesque vestibulum elit at metus venenatis non faucibus massa egestas. Suspendisse nisl leo, cursus non interdum a, consequat sed sapien. Duis at est mi, sit amet placerat lectus...Cras id nibh neque, eu dignissim orci. Aenean at adipiscing urna. Suspendisse potenti. Suspendisse vitae tellus a neque commodo rutrum.
            a.reply-btn(href='#') Reply
        #respond
          h3.title Leave a Reply
          form#commentform(method='post', action='')
            p
              label(for='author') Name*
              input#author.input-bar(type='text', value='', name='author')
            p
              label(for='email') Mail*
              input#email.input-bar(type='text', value='', name='email')
            p
              label(for='url') Website
              input#url.input-bar(type='text', value='', name='url')
            p
              textarea#comment(rows='10', cols='70', name='comment')
            p
              input#submit-comment.submit-btn(type='submit', value='Submit', name='submit')
    // CONTENT CLOSED
    .sidebar
      .side-widget
        // SEARCH OPTIONS
        .advancesearch-wrapper
          .search-options
            .advancesearch-head
              h3 Find you Home
            form.advance-search-form(method='get', action='')
              .option-bar
                label.option-title Property
                select#select-type.search-select(name='select-type')
                  option(value='Choice 1') --Select Type--
                  option(value='Choice 2') type 1
                  option(value='Choice 3') type 2
                  option(value='Choice 4') type 3
              // end of #select1
              .option-bar
                label.option-title Price
                select#select-prices.search-select(name='select-prices')
                  option(value='Choice 1') --Select Price--
                  option(value='Choice 2') Price 1
                  option(value='Choice 3') Price 2
                  option(value='Choice 4') Price 3
              // end of #select1
              .option-bar
                label.option-title Region
                select#select-region.search-select(name='select-region')
                  option(value='Choice 1') --Select Region--
                  option(value='Choice 2') Region 1
                  option(value='Choice 3') Region 2
                  option(value='Choice 4') Region 3
              // end of #select2
              .option-bar
                label.option-title Rooms
                select#select-location.search-select(name='select-location')
                  option(value='Choice 1') --No of Rooms--
                  option(value='Choice 2') location 1
                  option(value='Choice 3') Location 2
                  option(value='Choice 4') Location 3
              // end of #select3
              #search-box
                label.option-title Keyword
                input#as(type='text', value='', name='s')
              .search-btn-wrapper
                input.advance-search-btn(type='submit', value='Search')
        // ADVANCE SEARCH WRAPPER CLOSED
      .side-widget
        .agent-container.clearfix
          .agent-pic-wrapper
            a(href='#')
              img(alt='agent', src='images/avatar-image.png')
          h4
            a(href='#') JOHN DOE
          p Maecenas ipsum metus, semsion hendrerit varius mattis,
      .side-widget
        h3.title Recent Posts
        ul
          li
            a(href='#') California and Bust
          li
            a(href='#') Johnny Depp on His Dalliance With Sciento logy and His Box-Office Bankability
          li
            a(href='#') Love in the Time of Candor
          li
            a(href='#') Crouching Tiger, Hidden Raj
          li
            a(href='#') Courtney in Wonderland
      .side-widget
        h3.title Archives
        ul
          li
            a(href='#')
              | August 2011
              span (23)
          li
            a(href='#')
              | March 2011
              span (123)
          li
            a(href='#')
              | February 2011
              span (223)
          li
            a(href='#')
              | January 2011
              span (233)
      .side-widget
        h3.title Newsletter Signup
        p Maecenas ipsum metus, sempehendrerit varius mattis,congue sit amet tellus. 
        form.subs-form(method='post', action='')
          p
            input#subs-bar.input-subs(type='text', value='E-mail address')
            input.subs-btn(type='submit', value='Sign Up')
    // SIDEBAR CLOSED
  // CONTAINER CLOSED
// WRAPPER....................................................................................................... CLOSED
.footer-wrapper.clearfix
  .footer
    .footer-col.footer-col1
      h3.title About Us
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean erat nisi, cursus vel tincidunt vel, accumsanet enim. Aliquam nec auctor turpis.
      p
        | Ut imperdiet vestibulum diam, dapibus fermentum mi porttitor non. Integer ut urna erat, quis....
    .footer-col
      h3.title Twitter Updates
      #twitter_update_list
    .footer-col
      h3.title Latest News
      ul
        li
          p ohnny Depp on His Dalliance With Scientology and His Box-Office Bankability
        li
          p ohnny Depp on His Dalliance
  .bottombar-wrapper
    .bottom-bar
      ul.footer-nav
        li.active
          a(href='index.html') Home
        li
          a.dd(href='listing.html') All Properties
        li
          a.dd(href='blog.html') News
        li
          a(href='fullwidth.html') Full Width
        li
          a(href='generic-elements.html') Generic Elements
        li
          a(href='contact.html') Contact Us
      a(href='#')
        img.logo-footer(alt='Locatlity', src='images/footer-logo.png')
      .copy-right-wrapper
        p.developed-by
          | Developed by
          a(href='http://www.960development.com/') 960developement
          | and Designed by
          a(href='http://www.themedesigner.in/') Sunil joshi
        p.copy-right
          | Copyright© 2011. All Rights Reserved by Locality Real Estate
  // BOTOMBAR CLOSED
// FOOTER WRAPPER............................................................................................... CLOSED
// Remove it if you do not need jQuery
script(src='js/jquery-1.7.1.min.js', type='text/javascript')

