@import url(http://fonts.googleapis.com/css?family=Bitter);

h1{ font: 32px  'Bitter',Arial, Helvetica, sans-serif; }
h2{ font: 24px  'Bitter',Arial, Helvetica, sans-serif;}
h3{ font: 20px  'Bitter',Arial, Helvetica, sans-serif;}
h4{ font: 18px  'Bitter',Arial, Helvetica, sans-serif;}
h5{ font: 16px  'Bitter',Arial, Helvetica, sans-serif;}
h6{ font: 12px  'Bitter',Arial, Helvetica, sans-serif;}
.advancesearch-head-home h3{ font-family: 'Bitter',Arial, Helvetica, sans-serif; }
.property-title{ font-family: 'Bitter',Arial, Helvetica, sans-serif; }
.post-title{ font-family: 'Bitter',Arial, Helvetica, sans-serif; }
.grid-col-head{ font-family: 'Bitter',Arial, Helvetica, sans-serif; }
.accordian li h5,
.advancesearch-head h3{ font-family: 'Bitter',Arial, Helvetica, sans-serif; }