@import url(http://fonts.googleapis.com/css?family=Tenor+Sans);

h1{ font: 32px  'Tenor Sans',Arial, Helvetica, sans-serif; }
h2{ font: 24px  'Tenor Sans',Arial, Helvetica, sans-serif;}
h3{ font: 20px  'Tenor Sans',Arial, Helvetica, sans-serif;}
h4{ font: 18px  'Tenor Sans',Arial, Helvetica, sans-serif;}
h5{ font: 16px  'Tenor Sans',Arial, Helvetica, sans-serif;}
h6{ font: 12px  'Tenor Sans',Arial, Helvetica, sans-serif;}
.advancesearch-head-home h3{ font-family: 'Tenor Sans',Arial, Helvetica, sans-serif; }
.property-title{ font-family: 'Tenor Sans',Arial, Helvetica, sans-serif; }
.post-title{ font-family: 'Tenor Sans',Arial, Helvetica, sans-serif; }
.grid-col-head{ font-family: 'Tenor Sans',Arial, Helvetica, sans-serif; }
.accordian li h5,
.advancesearch-head h3{ font-family: 'Tenor Sans',Arial, Helvetica, sans-serif; }